* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}
.brand-logo {
   width: 200px;
   display: block;
   position: relative;
   margin-top: -225px;
   margin-bottom: 200px;
   margin-left: auto;
}
.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

/* Alerts */
.pure-alert {
    position: relative;
    margin-bottom: 1em;
    padding: 1em;
    background: #ccc;
    border-radius: 3px;
}

.pure-alert label {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    white-space: nowrap;
}

.pure-alert {
    background-color: rgb(209, 235, 238);
    color: rgb(102, 131, 145);
}
.pure-alert-error {
    background-color: #D13C38;
    color: #fff;
}

.pure-alert-warning {
    background-color: rgb(250, 191, 103);
    color: rgb(151, 96, 13);
}

.pure-alert-success {
    background-color: rgb(83, 180, 79);
    color: #fff;
}

.note-count
{
    position: relative;
    top: -0px;
    left: 0px;
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    font-size: 16px;
    color:#fff;
    /* text-align:center; */
    background:rgb(255, 59, 48);
}

#loader{
    position: relative;
    width:234px;
    height:28px;
    visibility: hidden;
    margin: auto;
}


#fountainG{
    position:absolute;
    width:234px;
    height:28px;
    margin:auto;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:rgb(0,0,0);
    width:28px;
    height:28px;
    animation-name:bounce_fountainG;
        -o-animation-name:bounce_fountainG;
        -ms-animation-name:bounce_fountainG;
        -webkit-animation-name:bounce_fountainG;
        -moz-animation-name:bounce_fountainG;
    animation-duration:2.08s;
        -o-animation-duration:2.08s;
        -ms-animation-duration:2.08s;
        -webkit-animation-duration:2.08s;
        -moz-animation-duration:2.08s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
    transform:scale(.3);
        -o-transform:scale(.3);
        -ms-transform:scale(.3);
        -webkit-transform:scale(.3);
        -moz-transform:scale(.3);
    border-radius:19px;
        -o-border-radius:19px;
        -ms-border-radius:19px;
        -webkit-border-radius:19px;
        -moz-border-radius:19px;
}

#fountainG_1{
    left:0;
    animation-delay:0.83s;
        -o-animation-delay:0.83s;
        -ms-animation-delay:0.83s;
        -webkit-animation-delay:0.83s;
        -moz-animation-delay:0.83s;
}

#fountainG_2{
    left:29px;
    animation-delay:1.04s;
        -o-animation-delay:1.04s;
        -ms-animation-delay:1.04s;
        -webkit-animation-delay:1.04s;
        -moz-animation-delay:1.04s;
}

#fountainG_3{
    left:58px;
    animation-delay:1.25s;
        -o-animation-delay:1.25s;
        -ms-animation-delay:1.25s;
        -webkit-animation-delay:1.25s;
        -moz-animation-delay:1.25s;
}

#fountainG_4{
    left:88px;
    animation-delay:1.46s;
        -o-animation-delay:1.46s;
        -ms-animation-delay:1.46s;
        -webkit-animation-delay:1.46s;
        -moz-animation-delay:1.46s;
}

#fountainG_5{
    left:117px;
    animation-delay:1.66s;
        -o-animation-delay:1.66s;
        -ms-animation-delay:1.66s;
        -webkit-animation-delay:1.66s;
        -moz-animation-delay:1.66s;
}

#fountainG_6{
    left:146px;
    animation-delay:1.87s;
        -o-animation-delay:1.87s;
        -ms-animation-delay:1.87s;
        -webkit-animation-delay:1.87s;
        -moz-animation-delay:1.87s;
}

#fountainG_7{
    left:175px;
    animation-delay:2.08s;
        -o-animation-delay:2.08s;
        -ms-animation-delay:2.08s;
        -webkit-animation-delay:2.08s;
        -moz-animation-delay:2.08s;
}

#fountainG_8{
    left:205px;
    animation-delay:2.29s;
        -o-animation-delay:2.29s;
        -ms-animation-delay:2.29s;
        -webkit-animation-delay:2.29s;
        -moz-animation-delay:2.29s;
}



@keyframes bounce_fountainG{
    0%{
    transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
    transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
    -o-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
    -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
    -ms-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
    -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
    -webkit-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
    -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
    -moz-transform:scale(1);
        background-color:rgb(0,0,0);
    }

    100%{
    -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}
